dataorch/pipeline/ETLbatchCheck.json
{
	"name": "ETLbatchCheck",
	"properties": {
		"activities": [
			{
				"name": "closebatch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "createBatchID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[closebatch]",
					"storedProcedureParameters": {
						"batchid": {
							"value": {
								"value": "@activity('createBatchID').output.firstRow.batchid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"enddatetime": {
							"value": {
								"value": "@utcnow(utcnow())",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQlETL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "createBatchID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[createbatch]"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}