wagsdm/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "wagsdm"
		},
		"FileServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FileServer1'"
		},
		"FileServer1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Work\\"
		},
		"FileServer1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "vmadmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/greentaxids')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "idicdm",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "vendorID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "lpepPickupDatetime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "lpepDropoffDatetime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "passengerCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tripDistance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "puLocationId",
						"type": "varchar"
					},
					{
						"name": "doLocationId",
						"type": "varchar"
					},
					{
						"name": "pickupLongitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "pickupLatitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dropoffLongitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dropoffLatitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rateCodeID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "storeAndFwdFlag",
						"type": "varchar"
					},
					{
						"name": "paymentType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fareAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "extra",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mtaTax",
						"type": "float",
						"precision": 15
					},
					{
						"name": "improvementSurcharge",
						"type": "varchar"
					},
					{
						"name": "tipAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tollsAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ehailFee",
						"type": "float",
						"precision": 15
					},
					{
						"name": "totalAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tripType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "puYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "puMonth",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "GreenCab_RawData"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hyperscaleisi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "idisvr",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "vendorID",
						"type": "varchar"
					},
					{
						"name": "tpepPickupDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "tpepDropoffDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "passengerCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tripDistance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "puLocationId",
						"type": "varchar"
					},
					{
						"name": "doLocationId",
						"type": "varchar"
					},
					{
						"name": "startLon",
						"type": "float",
						"precision": 15
					},
					{
						"name": "startLat",
						"type": "float",
						"precision": 15
					},
					{
						"name": "endLon",
						"type": "float",
						"precision": 15
					},
					{
						"name": "endLat",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rateCodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "storeAndFwdFlag",
						"type": "varchar"
					},
					{
						"name": "paymentType",
						"type": "varchar"
					},
					{
						"name": "fareAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "extra",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mtaTax",
						"type": "float",
						"precision": 15
					},
					{
						"name": "improvementSurcharge",
						"type": "varchar"
					},
					{
						"name": "tipAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tollsAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "totalAmount",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "YellowCab_Rawdata"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/idicdmyellow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "idicdm",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "vendorID",
						"type": "varchar"
					},
					{
						"name": "tpepPickupDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "tpepDropoffDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "passengerCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tripDistance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "puLocationId",
						"type": "varchar"
					},
					{
						"name": "doLocationId",
						"type": "varchar"
					},
					{
						"name": "startLon",
						"type": "float",
						"precision": 15
					},
					{
						"name": "startLat",
						"type": "float",
						"precision": 15
					},
					{
						"name": "endLon",
						"type": "float",
						"precision": 15
					},
					{
						"name": "endLat",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rateCodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "storeAndFwdFlag",
						"type": "varchar"
					},
					{
						"name": "paymentType",
						"type": "varchar"
					},
					{
						"name": "fareAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "extra",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mtaTax",
						"type": "float",
						"precision": 15
					},
					{
						"name": "improvementSurcharge",
						"type": "varchar"
					},
					{
						"name": "tipAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tollsAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "totalAmount",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "YellowCab_Rawdata"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/incomingTrain')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "train.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "key",
						"type": "String"
					},
					{
						"name": "fare_amount",
						"type": "String"
					},
					{
						"name": "pickup_datetime",
						"type": "String"
					},
					{
						"name": "pickup_longitude",
						"type": "String"
					},
					{
						"name": "pickup_latitude",
						"type": "String"
					},
					{
						"name": "dropoff_longitude",
						"type": "String"
					},
					{
						"name": "dropoff_latitude",
						"type": "String"
					},
					{
						"name": "passenger_count",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/opendataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "nyctlc/yellow",
						"container": "opendataset"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "vendorID",
						"type": "UTF8"
					},
					{
						"name": "tpepPickupDateTime",
						"type": "INT96"
					},
					{
						"name": "tpepDropoffDateTime",
						"type": "INT96"
					},
					{
						"name": "passengerCount",
						"type": "INT32"
					},
					{
						"name": "tripDistance",
						"type": "DOUBLE"
					},
					{
						"name": "puLocationId",
						"type": "UTF8"
					},
					{
						"name": "doLocationId",
						"type": "UTF8"
					},
					{
						"name": "startLon",
						"type": "DOUBLE"
					},
					{
						"name": "startLat",
						"type": "DOUBLE"
					},
					{
						"name": "endLon",
						"type": "DOUBLE"
					},
					{
						"name": "endLat",
						"type": "DOUBLE"
					},
					{
						"name": "rateCodeId",
						"type": "INT32"
					},
					{
						"name": "storeAndFwdFlag",
						"type": "UTF8"
					},
					{
						"name": "paymentType",
						"type": "UTF8"
					},
					{
						"name": "fareAmount",
						"type": "DOUBLE"
					},
					{
						"name": "extra",
						"type": "DOUBLE"
					},
					{
						"name": "mtaTax",
						"type": "DOUBLE"
					},
					{
						"name": "improvementSurcharge",
						"type": "UTF8"
					},
					{
						"name": "tipAmount",
						"type": "DOUBLE"
					},
					{
						"name": "tollsAmount",
						"type": "DOUBLE"
					},
					{
						"name": "totalAmount",
						"type": "DOUBLE"
					},
					{
						"name": "puYear",
						"type": "UTF8"
					},
					{
						"name": "puMonth",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prateekfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*",
						"folderPath": "nyctlc/yellow",
						"container": "sampledatasets"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "vendorID",
						"type": "UTF8"
					},
					{
						"name": "tpepPickupDateTime",
						"type": "INT96"
					},
					{
						"name": "tpepDropoffDateTime",
						"type": "INT96"
					},
					{
						"name": "passengerCount",
						"type": "INT32"
					},
					{
						"name": "tripDistance",
						"type": "DOUBLE"
					},
					{
						"name": "puLocationId",
						"type": "UTF8"
					},
					{
						"name": "doLocationId",
						"type": "UTF8"
					},
					{
						"name": "startLon",
						"type": "DOUBLE"
					},
					{
						"name": "startLat",
						"type": "DOUBLE"
					},
					{
						"name": "endLon",
						"type": "DOUBLE"
					},
					{
						"name": "endLat",
						"type": "DOUBLE"
					},
					{
						"name": "rateCodeId",
						"type": "INT32"
					},
					{
						"name": "storeAndFwdFlag",
						"type": "UTF8"
					},
					{
						"name": "paymentType",
						"type": "UTF8"
					},
					{
						"name": "fareAmount",
						"type": "DOUBLE"
					},
					{
						"name": "extra",
						"type": "DOUBLE"
					},
					{
						"name": "mtaTax",
						"type": "DOUBLE"
					},
					{
						"name": "improvementSurcharge",
						"type": "UTF8"
					},
					{
						"name": "tipAmount",
						"type": "DOUBLE"
					},
					{
						"name": "tollsAmount",
						"type": "DOUBLE"
					},
					{
						"name": "totalAmount",
						"type": "DOUBLE"
					},
					{
						"name": "puYear",
						"type": "UTF8"
					},
					{
						"name": "puMonth",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/purchasingfinal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "purchasing",
						"fileSystem": "final"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/purchasingraw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "bankmarketing_train.csv",
						"folderPath": "purchasing",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "job",
						"type": "String"
					},
					{
						"name": "marital",
						"type": "String"
					},
					{
						"name": "education",
						"type": "String"
					},
					{
						"name": "default",
						"type": "String"
					},
					{
						"name": "housing",
						"type": "String"
					},
					{
						"name": "loan",
						"type": "String"
					},
					{
						"name": "contact",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day_of_week",
						"type": "String"
					},
					{
						"name": "duration",
						"type": "String"
					},
					{
						"name": "campaign",
						"type": "String"
					},
					{
						"name": "pdays",
						"type": "String"
					},
					{
						"name": "previous",
						"type": "String"
					},
					{
						"name": "poutcome",
						"type": "String"
					},
					{
						"name": "emp.var.rate",
						"type": "String"
					},
					{
						"name": "cons.price.idx",
						"type": "String"
					},
					{
						"name": "cons.conf.idx",
						"type": "String"
					},
					{
						"name": "euribor3m",
						"type": "String"
					},
					{
						"name": "nr.employed",
						"type": "String"
					},
					{
						"name": "y",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rawTrain')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "job",
						"type": "String"
					},
					{
						"name": "marital",
						"type": "String"
					},
					{
						"name": "education",
						"type": "String"
					},
					{
						"name": "default",
						"type": "String"
					},
					{
						"name": "housing",
						"type": "String"
					},
					{
						"name": "loan",
						"type": "String"
					},
					{
						"name": "contact",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day_of_week",
						"type": "String"
					},
					{
						"name": "duration",
						"type": "String"
					},
					{
						"name": "campaign",
						"type": "String"
					},
					{
						"name": "pdays",
						"type": "String"
					},
					{
						"name": "previous",
						"type": "String"
					},
					{
						"name": "poutcome",
						"type": "String"
					},
					{
						"name": "emp.var.rate",
						"type": "String"
					},
					{
						"name": "cons.price.idx",
						"type": "String"
					},
					{
						"name": "cons.conf.idx",
						"type": "String"
					},
					{
						"name": "euribor3m",
						"type": "String"
					},
					{
						"name": "nr.employed",
						"type": "String"
					},
					{
						"name": "y",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/salesfinal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sales",
						"fileSystem": "final"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/salesraw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "bankmarketing_train.csv",
						"folderPath": "sales",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "job",
						"type": "String"
					},
					{
						"name": "marital",
						"type": "String"
					},
					{
						"name": "education",
						"type": "String"
					},
					{
						"name": "default",
						"type": "String"
					},
					{
						"name": "housing",
						"type": "String"
					},
					{
						"name": "loan",
						"type": "String"
					},
					{
						"name": "contact",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day_of_week",
						"type": "String"
					},
					{
						"name": "duration",
						"type": "String"
					},
					{
						"name": "campaign",
						"type": "String"
					},
					{
						"name": "pdays",
						"type": "String"
					},
					{
						"name": "previous",
						"type": "String"
					},
					{
						"name": "poutcome",
						"type": "String"
					},
					{
						"name": "emp.var.rate",
						"type": "String"
					},
					{
						"name": "cons.price.idx",
						"type": "String"
					},
					{
						"name": "cons.conf.idx",
						"type": "String"
					},
					{
						"name": "euribor3m",
						"type": "String"
					},
					{
						"name": "nr.employed",
						"type": "String"
					},
					{
						"name": "y",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('FileServer1_properties_typeProperties_host')]",
					"userId": "[parameters('FileServer1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FileServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "[parameters('integrationRuntime_mltest1')]",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Streamexec')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "table 10",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/babal@microsoft.com/serve/synapseingeststreamtest",
							"baseParameters": {
								"tableid": "10"
							}
						},
						"linkedServiceName": {
							"referenceName": "wagsADB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Table11",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/babal@microsoft.com/serve/synapseingeststreamtest",
							"baseParameters": {
								"tableid": "11"
							}
						},
						"linkedServiceName": {
							"referenceName": "wagsADB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Table12",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/babal@microsoft.com/serve/synapseingeststreamtest",
							"baseParameters": {
								"tableid": "12"
							}
						},
						"linkedServiceName": {
							"referenceName": "wagsADB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Table13",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/babal@microsoft.com/serve/synapseingeststreamtest",
							"baseParameters": {
								"tableid": "13"
							}
						},
						"linkedServiceName": {
							"referenceName": "wagsADB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Table14",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/babal@microsoft.com/serve/synapseingeststreamtest",
							"baseParameters": {
								"tableid": "14"
							}
						},
						"linkedServiceName": {
							"referenceName": "wagsADB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"tableid": {
						"type": "string",
						"defaultValue": "10"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ETLbatchCheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "closebatch",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "createBatchID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[closebatch]",
							"storedProcedureParameters": {
								"batchid": {
									"value": {
										"value": "@activity('createBatchID').output.firstRow.batchid",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"enddatetime": {
									"value": {
										"value": "@utcnow(utcnow())",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSQlETL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "createBatchID",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[createbatch]"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Sales",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesraw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "salesfinal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/salesraw')]",
				"[concat(variables('factoryId'), '/datasets/salesfinal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToHyperscale')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "toHyperscale",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "vendorID",
											"type": "String"
										},
										"sink": {
											"name": "vendorID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tpepPickupDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "tpepPickupDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "tpepDropoffDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "tpepDropoffDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "passengerCount",
											"type": "Int32"
										},
										"sink": {
											"name": "passengerCount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "tripDistance",
											"type": "Double"
										},
										"sink": {
											"name": "tripDistance",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "puLocationId",
											"type": "String"
										},
										"sink": {
											"name": "puLocationId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "doLocationId",
											"type": "String"
										},
										"sink": {
											"name": "doLocationId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "startLon",
											"type": "Double"
										},
										"sink": {
											"name": "startLon",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "startLat",
											"type": "Double"
										},
										"sink": {
											"name": "startLat",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "endLon",
											"type": "Double"
										},
										"sink": {
											"name": "endLon",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "endLat",
											"type": "Double"
										},
										"sink": {
											"name": "endLat",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "rateCodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "rateCodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "storeAndFwdFlag",
											"type": "String"
										},
										"sink": {
											"name": "storeAndFwdFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "paymentType",
											"type": "String"
										},
										"sink": {
											"name": "paymentType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "fareAmount",
											"type": "Double"
										},
										"sink": {
											"name": "fareAmount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "extra",
											"type": "Double"
										},
										"sink": {
											"name": "extra",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "mtaTax",
											"type": "Double"
										},
										"sink": {
											"name": "mtaTax",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "improvementSurcharge",
											"type": "String"
										},
										"sink": {
											"name": "improvementSurcharge",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tipAmount",
											"type": "Double"
										},
										"sink": {
											"name": "tipAmount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "tollsAmount",
											"type": "Double"
										},
										"sink": {
											"name": "tollsAmount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "totalAmount",
											"type": "Double"
										},
										"sink": {
											"name": "totalAmount",
											"type": "Double"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "prateekfiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hyperscaleisi",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/prateekfiles')]",
				"[concat(variables('factoryId'), '/datasets/hyperscaleisi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/filecheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ZipMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "filecheck",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ZipMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ZipMetadata').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable3",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "dummyvar",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "Set variable3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "filelist",
										"value": {
											"value": "@variables('dummyvar')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Set variable4",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "filelistcount",
							"value": {
								"value": "@string(length(variables('filelist')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set variable4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('filelistcount'),'2')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "startjobtotmp",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "*"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "filecheck",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DelimitedText3",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"filecnt": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"variables": {
					"dummyvar": {
						"type": "String",
						"defaultValue": "0"
					},
					"filelist": {
						"type": "Array"
					},
					"filelistcount": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/purchasing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Purchasing",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "purchasingraw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "purchasingfinal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/purchasingraw')]",
				"[concat(variables('factoryId'), '/datasets/purchasingfinal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "test.csv",
						"folderPath": "wags"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "key",
						"type": "String"
					},
					{
						"name": "pickup_datetime",
						"type": "String"
					},
					{
						"name": "pickup_longitude",
						"type": "String"
					},
					{
						"name": "pickup_latitude",
						"type": "String"
					},
					{
						"name": "dropoff_longitude",
						"type": "String"
					},
					{
						"name": "dropoff_latitude",
						"type": "String"
					},
					{
						"name": "passenger_count",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cpblobtohyperscale')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "opendataset",
								"type": "DatasetReference"
							},
							"name": "waginput"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "hyperscaleisi",
								"type": "DatasetReference"
							},
							"name": "hyperscale"
						}
					],
					"transformations": [
						{
							"name": "Select1"
						}
					],
					"script": "source(output(\n\t\tvendorID as string,\n\t\ttpepPickupDateTime as timestamp,\n\t\ttpepDropoffDateTime as timestamp,\n\t\tpassengerCount as integer,\n\t\ttripDistance as double,\n\t\tpuLocationId as string,\n\t\tdoLocationId as string,\n\t\tstartLon as double,\n\t\tstartLat as double,\n\t\tendLon as double,\n\t\tendLat as double,\n\t\trateCodeId as integer,\n\t\tstoreAndFwdFlag as string,\n\t\tpaymentType as string,\n\t\tfareAmount as double,\n\t\textra as double,\n\t\tmtaTax as double,\n\t\timprovementSurcharge as string,\n\t\ttipAmount as double,\n\t\ttollsAmount as double,\n\t\ttotalAmount as double,\n\t\tpuYear as string,\n\t\tpuMonth as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet') ~> waginput\nwaginput select(mapColumn(\n\t\tvendorID,\n\t\ttpepPickupDateTime,\n\t\ttpepDropoffDateTime,\n\t\tpassengerCount,\n\t\ttripDistance,\n\t\tpuLocationId,\n\t\tdoLocationId,\n\t\tstartLon,\n\t\tstartLat,\n\t\tendLon,\n\t\tendLat,\n\t\trateCodeId,\n\t\tstoreAndFwdFlag,\n\t\tpaymentType,\n\t\tfareAmount,\n\t\textra,\n\t\tmtaTax,\n\t\timprovementSurcharge,\n\t\ttipAmount,\n\t\ttollsAmount,\n\t\ttotalAmount,\n\t\tpuYear,\n\t\tpuMonth\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nSelect1 sink(input(\n\t\tvendorID as string,\n\t\ttpepPickupDateTime as timestamp,\n\t\ttpepDropoffDateTime as timestamp,\n\t\tpassengerCount as integer,\n\t\ttripDistance as double,\n\t\tpuLocationId as string,\n\t\tdoLocationId as string,\n\t\tstartLon as double,\n\t\tstartLat as double,\n\t\tendLon as double,\n\t\tendLat as double,\n\t\trateCodeId as integer,\n\t\tstoreAndFwdFlag as string,\n\t\tpaymentType as string,\n\t\tfareAmount as double,\n\t\textra as double,\n\t\tmtaTax as double,\n\t\timprovementSurcharge as string,\n\t\ttipAmount as double,\n\t\ttollsAmount as double,\n\t\ttotalAmount as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tbatchSize: 1000,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> hyperscale"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/opendataset')]",
				"[concat(variables('factoryId'), '/datasets/hyperscaleisi')]"
			]
		}
	]
}